#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar
{
  width: 6px;  
}
::-webkit-scrollbar-track
{
  background: #CFD8DC;
}

::-webkit-scrollbar-thumb
{
  background: #BD5D38;
}